label {
    width: 150px;
    display: inline-block;
}
label.nowidth {
    width: auto;
}
input[type=submit], 
input[type=reset] {
    border: 1px solid;
    padding: 5px 10px;
}
input[type=text],
input[type=url] {
    margin: 2px;
    width: 264px;
    border: 2px inset;
    padding: 2px;
}
textarea {
    width: 420px;
    height: 20em;
}
fieldset {
    width: 390px;
    border: 2px inset;
}
