<link rel="stylesheet" href="{{ data.css }}">
<h1>Ajout d'un event</h1>
<form method="POST" action="/send">
    <label for="ev_title">Title: </label>
        <input type="text" id="ev_title" name="ev_title" placeholder="DBMS meeting" /><br/>

    <label for="ev_date_from">Date from: </label>
        <input type="date" id="ev_date_from" name="ev_date_from" />
        <input type="time" id="ev_time_from" name="ev_time_from" /><br/>

    <label for="ev_date_to">Date to: </label>
        <input type="date" id="ev_date_to" name="ev_date_to" />
        <input type="time" id="ev_time_to" name="ev_time_to" /><br/>

    <label for="ev_cp">Postal code: </label>
        <input type="text" id="ev_cp" name="ev_cp" placeholder="1004" /><br/>

    <label for="ev_city">City: </label>
        <input type="text" id="ev_city" name="ev_city" placeholder="Lausanne" /><br/>

    <label for="ev_address">Address: </label>
        <input type="text" id="ev_address" name="ev_address" placeholder="Rue de Genève 79" /><br/>

    <label for="ev_url">URL: </label>
        <input type="url" id="ev_url" name="ev_url" placeholder="https://fixme.ch/civicrm/event/info?reset=1&id=130" /><br/>

    <label for="ev_free">Is the event free ?: </label>
        <input type="radio" id="is_free_yes" name="ev_free" value="yes" checked="checked">
        <label class="nowidth" for="is_free_yes">yes</label>
        <input type="radio" id="is_free_no" name="ev_free" value="no">
        <label class="nowidth" for="is_free_no">no</label>
        <br/>

    <label for="ev_type">Type: </label>
        <select name="ev_type" id="ev_type">
            <option value="6">Workshop</option>
            <option value="1">Conference</option>
            <option value="4">Meeting</option>
            <option value="7">Movie</option>
            <option value="8">CTF</option>
            <option value="9">General Assembly</option>
        </select>
        <br/>

    <label for="ev_tags">Tags: </label>
        <input type="text" id="ev_tags" name="ev_tags" placeholder="fixme, hackerspace, hacker, dbms, database" /><br/>

    <label class="nowidth" for="ev_description">Description (<a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>): </label><br/>
        <textarea id="ev_description" name="ev_description"></textarea><br/>

    <input type="hidden" id="ev_twitter" name="ev_twitter" value="_fixme" />

    <br/>

    <input type="button" id="services_all" value="All" />
    <input type="button" id="services_none" value="None" />
    <br/>
    <input type="checkbox" name="ev_services" id="ev_s_fixme" value="fixme" /><label for="ev_s_fixme" class="nowidth">FIXME website</label>
    <input type="checkbox" name="ev_services" id="ev_s_techup" value="techup" /><label for="ev_s_techup" class="nowidth">Techup</label>
    <input type="checkbox" name="ev_services" id="ev_s_agendalibre" value="agendalibre" /><label for="ev_s_agendalibre" class="nowidth">Agenda du Libre</label>
    <input type="checkbox" name="ev_services" id="ev_s_gcal" value="gcal" /><label for="ev_s_gcal" class="nowidth">Google Calendar</label>

    <br/>
    <br/>

    <input type="submit" value="Envoyer" name="Submit" />
    <input type="reset" value="Effacer" />

</form>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{ data.js }}"></script>
